.backlog {
    background: #F9F9F9;
    padding: 15px;
    border: 1px solid $primary-dark;

    h2 {
        font-size: 24px;
    }

    a.fi-plus:before {
        margin-right: 5px;
    }

    .no-tickets {
        display: block;
        &.hide {
            display: none;
        }
    }
}

.backlog, .user-tickets {
    > div {
        display: inline-block;
        min-width: 150px;
        min-height: 48px;
        vertical-align: middle;
    }
}

.ticket {
    position: relative;
    width: auto;
    padding: 15px;
    margin: 10px;

    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    background: $white;
    //border: 1px solid $primary;
    border-left: 3px solid $color-info;
    cursor: pointer;

    &-title {
        font-weight: bold;
    }

    &-project {
        float: right;
        font-size: 11px;
    }

    &-dates {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }

    &-estimate {
        font-weight: bold;
        margin: 0 10px;
    }

    &.prio-low {
        border-left: 5px solid $success-color;
    }
    &.prio-middle {
        border-left: 7px solid $warning-color;
    }
    &.prio-high {
        border-left: 9px solid $alert-color;
    }

    &:before {
        position: absolute;
        top: -11px;
        right: -11px;
        padding: 6px;
        width: 32px;
        height: 32px;
        text-align: center;
        background: $white;
        border-radius: 50%;
        border: 2px solid $info-color; // $primary
        color: $info-color; // $primary
    }
    &.prio-low:before {
        border: 2px solid $success-color;
        color: $success-color;
    }
    &.prio-middle:before {
        border: 2px solid $warning-color;
        color: $warning-color;
    }
    &.prio-high:before {
        border: 2px solid $alert-color;
        color: $alert-color;
    }
    //&.fi-brush:before {
    //    border: 2px solid $purple;
    //    color: $purple;
    //}
    //&.fi-bug:before {
    //    border: 2px solid $orange;
    //    color: $orange;
    //}
    //&.fi-cogs:before {
    //    border: 2px solid $green;
    //    color: $green;
    //}
    //&.fi-fork:before {
    //    border: 2px solid $blue;
    //    color: $blue;
    //}
    //&.fi-project:before {
    //    border: 2px solid $secondary;
    //    color: $secondary;
    //}
    &:hover:before {
        content: '\e190' !important; // zoom(+) e26e
    }
    //&.editable:hover:before {
    //    content: '\e204' !important;
    //}
}

table.kanban {
    margin-top: 20px;

    th {
        text-align: center;
        width: 270px;

        &:first-child {
            width: 90px;
            text-align: left;
        }
        &:last-child {
            width: auto;
        }
    }

    tr.even, tr.alt, tr:nth-of-type(even) {
        background-color: #F5F5F5;
    }

    tr:last-child .ticket {
        min-height: 0;
        margin: 5px;
        padding: 5px 10px;
        //max-height: 48px;
        //max-width: 180px;
        //overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .ticket-dates {
            margin-top: 0;

            .ticket-date-start, .ticket-estimate {
                display: none;
            }
        }
    }
}

.ui-state-highlight {
    background: $color-info;
    border: 1px solid $blue;
}